.page {
  background-color: var(--main-background);
  color: var(--text-color);
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.page h1 {
  margin: 0;
}

.page .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page .theme-switch {
  display: flex;
  align-items: center;
}

.page .top,
.page .calculator,
.page .calculator .display {
  width: 100%;
}

@media (min-width: 375px) {

  .page .top,
  .page .calculator,
  .page .display {
    width: 16rem;
  }
}

.page .display,
.page .calculator,
.page .button {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.page .display {
  background-color: var(--screen-background);
  padding: .5rem 1rem;
  margin-bottom: 1rem;
  text-align: right;
}

.page .calculator {
  background-color: var(--keypad-background);
  border-radius: 1rem;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  margin-bottom: 1rem;
}

.page .calculator .button {
  width: 100%;
  background-color: var(--key-background);
  border: none;
  border-bottom: 5px solid var(--key-shadow);
  color: var(--text-color);
  font-weight: 700;
  font-size: 1.2rem;
  padding: .5rem;
  cursor: pointer;
  transition: all .2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;

}

.page .calculator #clear,
.page .calculator #del {
  background-color: var(--del-reset);
  border-bottom: 5px solid var(--del-reset-shadow);
  color: var(--secondary-text-color);
}

.page .calculator #equals {
  background-color: var(--equals);
  border-bottom: 5px solid var(--equals-shadow);
  color: var(--secondary-text-color);
}

.page[data-theme='blue'] .calculator .button {
  color: var(--secondary-text-color);
}

.page[data-theme="blue"] .calculator #equals,
.page[data-theme="blue"] .calculator #clear,
.page[data-theme="blue"] .calculator #del {
  color: var(--text-color);
}

.page[data-theme='violet'] .calculator #equals {
  color: var(--third-text-color);
}


.page .calculator #clear,
.page .calculator #equals {
  grid-column: span 2;
}