.page {
  background-color: var(--main-background);
  color: var(--text-color);
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.page h1 {
  margin: 0;
}

.page .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page .top .theme-switch {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page .top h6 {
  margin-right: 2rem;
  padding-top: .5rem;
}

.page .top .theme-switch .labels,
.page .top .theme-switch .options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .3rem;
}

.page .top .theme-switch label,
.page .top .theme-switch button {
  cursor: pointer;
}

.page .top .theme-switch labels {
  padding-bottom: 0;
}

.page .top .theme-switch label {
  font-size: small;
}

.page .top .theme-switch .options {
  border-radius: 30px;
  background-color: var(--keypad-background);
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.page .top .theme-switch .options button {
  background-color: transparent;
  width: .8rem;
  height: .8rem;
  margin-right: .5rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: none;
}

.page .top .theme-switch .options button:last-child {
  margin-right: 0;
}

.page[data-theme='blue'] .top .theme-switch .options button:first-child {
  background-color: var(--equals);
}

.page[data-theme='yellow'] .top .theme-switch .options button:nth-child(2) {
  background-color: var(--equals);
}

.page[data-theme='violet'] .top .theme-switch .options button:last-child {
  background-color: var(--equals);
}

.page[data-theme='blue'] .top .theme-switch .options button:first-child:hover {
  background-color: var(--equals-hover)
}

.page[data-theme='yellow'] .top .theme-switch .options button:nth-child(2):hover {
  background-color: var(--equals-hover)
}

.page[data-theme='violet'] .top .theme-switch .options button:last-child:hover {
  background-color: var(--equals-hover)
}

.page .top,
.page .calculator,
.page .display {
  width: 90%;
}

@media (min-width: 375px) {

  .page .top,
  .page .calculator,
  .page .display {
    width: 18rem;
  }
}

.page .display,
.page .calculator,
.page .button {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.page .display {
  background-color: var(--screen-background);
  padding: 1rem;
  margin-bottom: 1rem;
  text-align: right;
  font-size: 32px;
}

.page .calculator {
  background-color: var(--keypad-background);
  border-radius: 1rem;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  margin-bottom: 1rem;
}

.page .calculator .button {
  width: 100%;
  background-color: var(--key-background);
  border: none;
  border-bottom: 5px solid var(--key-shadow);
  color: var(--text-color);
  font-weight: 700;
  font-size: 1.2rem;
  padding: .5rem 1rem;
  cursor: pointer;
  transition: all .2s ease-in-out;
  vertical-align: middle;
}

.page .calculator .button:hover {
  background-color: var(--key-background-hover);
  border-bottom: 5px solid var(--key-shadow-hover);
}

.page .calculator #clear,
.page .calculator #del {
  background-color: var(--del-reset);
  border-bottom: 5px solid var(--del-reset-shadow);
  color: var(--secondary-text-color);
}

.page .calculator #clear:hover,
.page .calculator #del:hover {
  background-color: var(--del-reset-hover);
  border-bottom: 5px solid var(--del-reset-shadow-hover);
}

.page .calculator #equals {
  background-color: var(--equals);
  border-bottom: 5px solid var(--equals-shadow);
  color: var(--secondary-text-color);
}

.page .calculator #equals:hover {
  background-color: var(--equals-hover);
  border-bottom: 5px solid var(--equals-shadow-hover);
}

.page[data-theme='blue'] .calculator .button {
  color: var(--secondary-text-color);
}

.page[data-theme="blue"] .calculator #equals,
.page[data-theme="blue"] .calculator #clear,
.page[data-theme="blue"] .calculator #del {
  color: var(--text-color);
}

.page[data-theme='violet'] .calculator #equals {
  color: var(--third-text-color);
}

.page .calculator #clear,
.page .calculator #equals {
  grid-column: span 2;
}